body {
    font-family: 'Roboto', sans-serif;
}

video#alert-video {
    position: absolute;
    left: 20vw;
    width: 60vw;
    transition: 250ms opacity;
    opacity: 1;
}

span#alert-label {
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    font-size: 4em;
    
}

.hide {
    transition: 1s opacity;
    transition-delay: 1s;
    opacity: 0;
}