#follow-container {
    min-width: 100vw;
    display: none;
    position: absolute;
}

#puck {
    display: none;
    position: absolute;
}

#follow-label {
    position: absolute;
    margin-top: 9em;
    left: -26em;
    transform: rotate(-28deg);
}

#follow-container.animate {
    display: block;
    animation: puck-movement 750ms linear 1;
}

#crack {
    display: none;
    position: absolute;
}

#crack.visible, #puck.visible {
    display: block;
}

@keyframes puck-movement {
    0% {
        top: -50%;
        left: 50vw;
        transform: scale(0);
    }

    100% {
        top: 0;
        left: 0vw;
        transform: scale(1);
    }
}