#follow-container {
    min-width: 100vw;
}

#puck {
    max-width: 100vh;
    position: absolute;
    margin-left: -25%;
    left: 50vw;
    display: none;
}

#follow-label {
    position: absolute;
    display: none;
    margin-top: -8em;
    left: 1.7em;
    transform: rotate(-26deg);
}

#puck.animate {
    display: block;
    animation: puck-movement 750ms linear 1;
}

#follow-label.animate {
        display: block;
        animation: label-movement 750ms linear 1;
}

#crack {
    max-width: 100vh;
    position: absolute;
    margin-left: -25%;
    left: 50vw;
    display: none;
}

#crack.visible {
    display: block;
}



@keyframes puck-movement {
    0% {
        top: -50%;
        left: 100vw;
        transform: scale(0);
    }

    100% {
        top: 0;
        left: 50vw;
        transform: scale(1);
    }
}

@keyframes label-movement {
    0% {
        top: -119%;
        left: 100vw;
        transform: scale(0) rotate(-26deg);
    }

    100% {
        top: 0;
        left: 2vw;
        transform: scale(1) rotate(-26deg);
    }
}